# Dependencies
node_modules/
tex-diff-web/node_modules/
tex-diff-web/frontend/node_modules/
tex-diff-web/backend/node_modules/

# Web App Uploads & Results
tex-diff-web/backend/uploads/
tex-diff-web/frontend/dist/

# LaTeX Temporary Files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm

# Generated Results
diff.tex
tex-diff-web/backend/uploads/*/diff.tex

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/
